<h1><%= t('.title') %></h1>
<%= render "form", superhero: @superhero %>
<br>
<div>
  <%= link_to "Show this superhero", @superhero %> |
  <%= link_to "Back to superheroes", superheroes_path %>
</div>
